<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoAssistant</title>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/1.0.0/css/font-awesome.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<!--- Header --->
<body id="banner">
    <header>
        <a class="logo" href="/"><h1>AutoAssistant</h1></a>
        <nav class="">
            {{#if logged_in}}
            <ul class="user-nav">
                <li><a class="username" href="/favorites">{{name}}</a></li>
            </ul>
            <ul class="user-nav">
                <li><a class="nav-logged-in nav-hover" href="/" id="">Home</a></li>
                <li class="nav-logged-in">|</li>
                <li><a class="nav-logged-in nav-hover" href="/search" id="">Search</a></li>
                <li class="nav-logged-in">|</li>
                <li><a class="nav-logged-in nav-hover" href="/favorites" id="">Favorites</a></li>
                <li class="nav-logged-in">|</li>
                <li><a class="nav-logged-in nav-hover"  id="logout">Logout</a></li>
            </ul>
            {{else}}
            <ul>

                <li><a href="/login" id="login">Login <span id="slash">/</span> Sign Up</a></li>

            </ul>
            {{/if}}

        </nav>
    </header>
<!--- Main --->    
    <main>
    {{{body}}}
    </main>
<!--- Footer --->
    <footer class="" id="footer">
        <div class="">
            <p>
              <strong class="foot-text">AutoAssistant</strong> by <a class="foot-name" href="https://github.com/ThatBallinGuy" target="_blank">Tristan Ballin</a>, <a class="foot-name" href="https://github.com/PeteChicchetti" target="_blank">Pete Chicchetti</a>, and <a class="foot-name" href="https://github.com/BenjaminCottrell" target="_blank">Ben Cottrell</a>. <br> Licensed under <a class="license" href="https://opensource.org/licenses/mit-license.php" target="_blank">MIT</a>. <br>Credit to <a class="foot-api" href="https://api-ninjas.com" target="_blank">API Ninjas</a> for their <a class="foot-api" href="https://api-ninjas.com/api/cars" target="_blank">Car API</a> that made this project possible.
            </p>
          </div>
    </footer>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

</body>
</html>