<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoAssistant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link rel="stylesheet" href="css/style.css">
</head>
<body id="banner">
    <header>
        <a class="logo" href="/"><h1>AutoAssistant</h1></a>
        <nav class="">
            {{#if logged_in}}
            <ul class="user-nav">
                <li class="username">Username</li>
            </ul>
            <ul class="user-nav">
                <li><a class="nav-logged-in nav-hover" href="/" id="">Home</a></li>
                <li class="nav-logged-in">|</li>
                <li><a class="nav-logged-in nav-hover" href="/search" id="">Search</a></li>
                <li class="nav-logged-in">|</li>
                <li><a class="nav-logged-in nav-hover" href="/favorites" id="">Favorites</a></li>
                <li class="nav-logged-in">|</li>
                <li><a class="nav-logged-in nav-hover"  id="logout">Logout</a></li>
            </ul>
            {{else}}
            <ul>

                <li><a href="/login" id="login">Login <span id="slash">/</span> SignUp</a></li>

            </ul>
            {{/if}}

        </nav>
    </header>
    <main>
    {{{body}}}
    </main>
    <footer class="" id="footer">
        <div class="">
            <p>
              <strong class="foot-text">AutoAssistant</strong> by <a href="https://github.com/ThatBallinGuy">Tristan Ballin</a>, <a href="https://github.com/PeteChicchetti">Pete Chicchetti</a>, <a href="https://github.com/BenjaminCottrell">Ben Cottrell</a> and <a href="https://github.com/chrisy272">Paul Young</a> . <br> Licensed under <a href=https://opensource.org/licenses/mit-license.php>MIT</a>. <br>Credit to <a href=https://www.carmd.com>CarMD</a> and <a href=https://api-ninjas.com>API Ninjas</a> for their API's that made this project possible.
            </p>
          </div>
    </footer>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>