        <div class="img-404">
            <p class="text-container"><span class="error">Error 404:</span> There is nothing to see here... Please return <a class="home" href="/">HOME</a></p>
            
        </div>