 <div class="" id="fig-contain">
            <div class="" id="info-box">
                <div id="app-desc">
                    <div class="login-wrapper">
                        <div class="login-container vertical-line">
                          <h2>Login</h2>
                            <div class="form-container">
                                <form class="form login-form">
                                    <div class="form-group">
                                        <label id="login-title" for="user-login">Username:</label>
                                        <input class="form-input" type="text" id="user-login" />
                                    </div>
                                    <div class="form-group">
                                        <label id="login-title" for="password-login">Password:</label>
                                        <input class="form-input" type="password" id="password-login" />
                                    </div>
                                        <div class="form-group">
                                        <button class="btn btn-login" type="submit">login</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="signup-container">
                          <h2>Signup</h2>
                            <div class="form-container">
                                <form class="form signup-form">
                                    <div class="form-group">
                                        <label id="login-title" for="user-signup">Username:</label>
                                        <input class="form-input" type="text" id="user-signup" />
                                    </div>
                                    <div class="form-group">
                                        <label id="login-title" for="email-signup">Email:</label>
                                        <input class="form-input" type="text" id="email-signup" />
                                    </div>
                                    <div class="form-group">
                                        <label id="login-title" for="password-signup">Password:</label>
                                        <input class="form-input" type="password" id="password-signup" />
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-signup" type="submit">signup</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                      </div>
                </div>
            </div>    
        </div>

        <script src="./js/login.js"></script>