<div class="" id="fig-contain">
    <div class="" id="info-box">
        <div id="app-desc">
            <div class="results-wrapper">
                <div class="results-container">
                    <h2>Results</h2>
                    <div class="result-placer">
                        <div class="form-container">
                                <form class="form search-form">
                                    <div class="form-group">
                                        {{#each result as |results|}}
                                        <h3>Please Work</h3>
                                        {{/each}}
                                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="./js/api.js"></script>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>