<div class="" id="fig-contain">
    <div class="" id="info-box">
        <div id="app-desc">
            <div class="results-wrapper">
                <div class="results-container">
                    <h2>Results</h2>
                    <div class="result-placer">
                        <div class="form-container">
                                <form class="form search-form">
                                    <div class="form-group">
                                        <p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                                        <p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                                        <p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                                        <p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                                        <p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                                        <p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                                        <p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                                        <p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                                        <p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                                        <p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                                        <p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                                        <p>-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>