<div class="" id="fig-contain">
            <div class="" id="info-box">
                <div id="app-desc">
                    <div class="search-wrapper">
                        <div class="search-container">
                          <h2>Search</h2>
                            <div class="form-container">
                                <form class="form search-form">
                                    <div class="form-group">
                                        <label id="car-search-title" for="make-search">Make:</label>
                                        <input class="form-input" type="text" id="make-search" />
                                    </div>
                                    <div class="form-group">
                                        <label id="car-search-title" for="model-search">Model:</label>
                                        <input class="form-input" type="text" id="model-search" />
                                    </div>
                                     <div class="form-group">
                                        <label id="car-search-title" for="year-search">Year:</label>
                                        <input class="form-input" type="text" id="year-search" />
                                    </div>
                                        <div class="form-group">
                                        <button class="btn btn-search" type="submit">search</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                      </div>
                </div>
            </div>    
        </div>
