    <main>
        <div class="" id="fig-contain">
            <div class="" id="info-box">
                <div id="app-desc">
                    <h2 id="welcome">Welcome to AutoAssistant</h2>
                    <p class="" id="welcome-info">Auto Assistant is the number one place to go when you're looking to find more information for any vehicle! AutoAssistant is fast and easy to use</p>
                    <ul>
                        <li>Create an account or login</li>
                        <li>Search for vehicles by brand or model</li>
                        <li>Save the vehicles you like to your favorites</li>
                    </ul>
                </div>
            </div>    
        </div>
    </main>
