* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


:root {

}

body {
  margin: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(22, 102, 155);
  height: 100px;
  align-items: center;
  padding: 0px 15px 0px 15px;
}

h1 {
  font-size: 250%;
  margin: 0px;
}

nav ul {
  display: flex;
  list-style: none;
  text-align: center;
}

#login, #signup {
  font-size: 150%;
  cursor: pointer;
}

#login:hover, #signup:hover {
  font-size: 150%;
  font-weight: bolder;
}

.slash {
  font-size: 150%;
  font-weight: 500;
  margin: 0px;
  padding: 0px 5px 0px 5px;
}