* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


:root {
  --white: rgb(255, 255, 255);
  --blue: rgb(22, 102, 155);
  --black: rgb(0, 0, 0);
  --gold: rgb(255, 215, 0);
}

body {
  margin: 0px;
}

.logo, #login, #signup {
  text-decoration: none;
}

.logo:link, .logo:visited, 
#login:link, #login:visited,
#signup:link, #signup:visited {
  color: var(--black);
}

/*----- Header / Nav Bar for main page -----*/
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--blue);
  height: 100px;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

h1 {
  font-size: 250%;
  margin: 0px;
  cursor: pointer;
}

nav ul {
  display: flex;
  justify-content: end;
  list-style: none;
  text-align: center;
}

#login, #signup  {
  font-size: 150%;
  cursor: pointer;
}

#slash, #slash:hover {
  color: var(--black);
}

#login:hover, #signup:hover {
  color: gold;
}

.username {
  font-size: 130%;
  font-weight: 600;
  color: var(--black);
  text-decoration: none;
}

.username:hover {
  text-decoration: underline;
  color: var(--gold);
  font-size: 130%;
}

.nav-logged-in {
  font-size: 150%;
  text-decoration: none;
}

.nav-hover {
  font-weight: bold;
  cursor: pointer;
}

.nav-hover:link, .nav-hover:visited {
  color: var(--black);
}

.nav-hover:hover {
  text-decoration: underline;
  font-size: 150%;
  color: gold;
}

/*----- Banner and Welcome Info -----*/
main {
  min-height: calc(100vh - 234px);
}

#fig-contain {
  margin-top: 0px;
}

#banner {
  margin: 0px;
  background-image: url("/assets/images/car-lot.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

}

#info-box {
  display: flex;
  justify-content: center;
  padding-top: 115px;
}

#app-desc {
  justify-content: center;
  text-align: center;
  background-color: var(--white);
  border: 4px solid var(--blue);
  box-shadow: 10px 10px 8px;
  max-width: 900px;
  min-height: 250px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 115px;
}

#welcome {
  font-size: 200%;
  margin: 10px;
  text-decoration: underline;
}

#welcome-info {
  font-size: 20px;
  font-weight: 500;
}

#app-desc>ul>li {
  text-align: left;
  font-weight: 500;
}

/*----- Footer -----*/
#footer {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--blue);
  color: var(--tan);
  margin-top: 10px;
  margin-bottom: -1px;
  padding: 12px;
  height: 100px;
  font-weight: 600;
  font-style: italic;
}

.foot-text {
  color: var(--black);
  font-size: 22px;
  text-decoration: underline;
}

.foot-name {
  color: var(--gold);

}

.license {
  color: var(--gold);

}

.foot-api {
  color: var(--gold);

}

/*----- Login Partial -----*/
.login-wrapper, .search-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.login-container, .signup-container, .search-container {
  padding: 10px;
}

.form-container {
  padding: 5px;
}

h2 {
  display: block;
  margin: 5px;
}

.vertical-line{
  border-right: 3px solid var(--blue);
}

.login-form, .signup-form {
  text-align: left;
}

.search-form {
  text-align: right;
}

.username, .password {
  margin-left: 0px;
}

.form-input {
  width: 420px;
  height: 25px;
  margin: 5px 0px 5px 0px;
}

.btn-login, .btn-signup, .btn-search {
  width: 428px;
  height: 30px;
  margin: 5px 0px 5px 0px;
  background-color: rgb(97, 92, 92);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.btn-login:hover, .btn-signup:hover {
  background-color: rgb(71, 68, 68);
  font-size: 101%;
}

.login-signup {
  text-decoration: none;
}

/*----- Results Partial / Favorites Partial -----*/
.result-placer {
  display: flex;
  flex-direction: column;
}

#results-title {
  font-size: 36px;
}

.center-results {
  padding: 10px;
}

.display-container {
  min-width: 600px;
  padding: 10px;
  font-weight: 600;
}

.image-container {
  min-width: 250px;
}

.vehicle-image {
  min-width: 150px;
  min-height: 300px;
  background-color: var(--black);
  padding: 5px;
}

.vehicle-favorite {
  padding: 5px;
}

.results-heart {
  color: var(--gold);
  padding-left: 5px;
  cursor: pointer;
}

.results-heart:hover {
  color: red;
}

.garbage {
  color: rgb(54, 54, 54);
  padding-left: 5px;
  cursor: pointer;
}

.garbage:hover {
  color: rgb(110, 110, 110);
}

.floppy {
  color: rgb(0, 0, 0);
  padding-right: 5px;
  cursor: pointer;
  font-size: 20px;
}

.floppy:hover {
  color: var(--blue);
}

.save {
  text-align: left;
  margin: 5px;
  font-size: 18px;
}

.notes-container {
  padding: 10px 0px 10px 0px;
}

textarea {
  width: 730px;
  resize: none;
}

.content-container {
  text-align: left;
  min-width: 580px;
}

.car-header {
  border-bottom: 1px solid var(--black);
}

.car-make, .car-model, .car-year {
  margin: -10px 0px 10px 0px;
  font-size: 32px;
  padding-right: 10px;
}

.car-data1, .car-data2 {
  margin: 14px 0px 14px 0px;
  font-size: 20px;
  font-weight: bolder;
}

.car-drive, .car-trans, .car-cyl, .car-mpg {
  font-weight: 500;
  padding-right: 50px;
}

.sorry-fav {
  font-size: 30px;
}

.guide-fav {
  font-size: 20px;
}

/*----- 404 Partial -----*/
.img-404 {
  margin: -16px 0px -10px 0px;
  padding-bottom: 10px;
  background-image: url("/assets/images/404-car.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  min-height: calc(100vh - 234px);
}

.text-container {
  color: white;
  margin-top: 16px;
  padding-left: 10px;
  font-size: 48px;
  font-weight: bolder;
  text-shadow: 6px 6px 5px var(--black);
}

.error {
  color: rgb(209, 30, 30);
  
}

.home {
  color: white;
  text-decoration: underline;
  font-style: italic;
}